*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@media (max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html{
        font-size: 87.5%;
    }
}


 :root {
     --color-background:#fff;
     --color-primary: #332f3D;
     --color-secondary:#C7C3D2;
     --color-tertiary:#BB90A7;
    
      --color-silver:#EEEBED;
    }

 body,button,textarea, input {
     font: 500 iren 'Heading Pro Wide', sans-serif;
 }

 a{
     color: inherit;
     text-decoration: none;
 }